h1{
    text-align:center;
    color:violet;
    font-size: 55px;
}


body{
    background-color: antiquewhite;
}

img{
    width: 500px;
    height: 500px;
    border-radius: 10px;

}

.grid-container{
    gap: 75px;
    grid-template-columns: 1fr 1fr 1fr ;
    display: grid;
    
}



.flex-container {
    background-color:burlywood;
    display:flex;
    border-radius: 50px;
    justify-content: center;
    padding: 50px;
    margin:30px;
  }






